.categoryContainer {
  background: black;
}
/* CategoryIcons */
.icon {
  display: flex; /* Change display to flex */
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Center content horizontally and vertically */
  cursor: pointer;
  padding: 15px;
  text-align: center; /* Center text horizontally */
}

.icon img {
  width: 86px;
  margin: auto; /* Center image horizontally */
}

.icon p {
  font-size: 14px;
  margin: 6px 0 0; /* Adjust margin for better spacing */
}

/* CategoryHead */

.category_head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.category_head h2 {
  padding: 20px 10px 10px 10px;
  font-size: 28px;
  line-height: 32px;
  text-transform: capitalize;
  text-decoration: none;
  /* Remove underline from text */
  position: relative;
  /* Required for positioning the pseudo-element */
}

.category_head h2::after {
  content: "";
  /* Create a pseudo-element */
  position: absolute;
  /* Position relative to the h2 element */
  left: 50%;
  /* Align with the center of the h2 element */
  transform: translateX(-50%);
  /* Center the pseudo-element horizontally */
  bottom: -5px;
  /* Adjust this value to control the space underneath */
  width: 50%;
  /* Extend the line across the width of the h2 element */
  border-bottom: 2px solid;
  /* Add a solid underline */
}

.footer_h {
  text-align: start;
}

.tooter_p {
  font-size: 15px;
}
@media only screen and (max-width: 600px) {
  /* Category Head   */
  .icon {
  display: flex; /* Change display to flex */
  flex-direction: column; /* Align items vertically */
  justify-content: center; /* Center content horizontally and vertically */
  cursor: pointer;
  padding: 10px;
  text-align: center; /* Center text horizontally */
}

.icon img {
  width: 70px;
  margin: auto; /* Center image horizontally */
}

.icon p {
  font-size: 11px;
  margin: 6px 0 0; /* Adjust margin for better spacing */
}

/* CategoryHead */

.category_head {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.category_head h2 {
  padding: 20px 10px 10px 10px;
  font-size: 28px;
  line-height: 32px;
  text-transform: capitalize;
  text-decoration: none;
  /* Remove underline from text */
  position: relative;
  /* Required for positioning the pseudo-element */
}

.category_head h2::after {
  content: "";
  /* Create a pseudo-element */
  position: absolute;
  /* Position relative to the h2 element */
  left: 50%;
  /* Align with the center of the h2 element */
  transform: translateX(-50%);
  /* Center the pseudo-element horizontally */
  bottom: -5px;
  /* Adjust this value to control the space underneath */
  width: 50%;
  /* Extend the line across the width of the h2 element */
  border-bottom: 2px solid;
  /* Add a solid underline */
}

}