@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");
body {
  background: #1d1d1d;
  margin: 0px;
  color: white;
  font-family: "Montserrat", sans-serif;
}

header {
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_conatiner {
  display: flex;
}

.search-container {
  position: relative;
  display: inline-block;
}

.timme-input {
  width: 600px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  /* Semi-transparent background */
  border: none;
  color: white;
  padding: 5px 10px 5px 10px;
  backdrop-filter: blur(5px);
  /* Blur effect */
}

.headicon {
  padding-right: 20px;
}

.bi-person {
  font-size: 20px;
  /* Adjust the size as needed */
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  background: #425a8b;
  padding: 5px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  /* you can adjust the color as needed */
  pointer-events: none;
  /* so the icon won't interfere with input */
}

button {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-6);
  font-size: var(--font-size-5);
  color: var(--gray-8);
  background: var(--gray-0);
  border: 0;
  padding: var(--size-4) var(--size-8);
  transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
  transition: transform 0.1s;
  position: relative;
}

/* secondHEader */
.navbar {
  padding: 0px;
}
.navi {
  font-family: "Montserrat", sans-serif;
  background: black;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-size: 14px;
}
.navbar-dark .navbar-nav .nav-link.pulsate {
  animation: pulse 1s infinite;
}
.nav-item {
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.nav-links li a {
  position: relative;
  font-size: 15px;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-links li:hover a::before {
  opacity: 1;
}

/* directory */
.directory {
  padding-left: 9%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
}

/* productsDetailsCss */
.card-wrapper {
  max-width: 1100px;
  /* background: black; */
  margin: 0 auto;
  align-items: end;
}
img {
  width: 100%;
  display: block;
}
.img-display {
  overflow: hidden;
}
.img-showcase {
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
.img-showcase img {
  min-width: 100%;
}
.img-select {
  display: flex;
}
.img-item {
  margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
  margin-right: 0;
}
.img-item:hover {
  opacity: 0.8;
}

@media screen and (min-width: 992px) {
  .card {
    background: #1d1d1d;
    align-items: end;
  }
  .card-wrapper {
    height: 100vh;
  }
  .product-imgs {
    display: flex;
    flex-direction: column;

    justify-content: center;
  }
}

/* m0obileheader */
.mobilehead {
  display: none;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* productDetailsRightSection */
.productDetsilsHead {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 300px;
}

.overFlowContainer {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* Number of lines to display */
  overflow: hidden;
}

/* Star_css_code */
.rating {
  float: left;
  border: none;
}
.rating:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}
.rating:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 0.1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 125%;
  line-height: 1.2;
  color: #ddd;
}
.rating:not(:checked) > label:before {
  content: "★ ";
}
.rating > input:checked ~ label {
  color: #f70;
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: gold;
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
  color: #ea0;
}
.rating > label:active {
  position: relative;
}

/* prodcutPrice */
.produt_Price {
  line-height: 1;
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  padding-top: 5px;
}
.product_Price_strike {
  font-size: 17px;
  font-weight: 400;
  padding-left: 10px;
  color: #ffffff91;
}
.socialMediaIcon {
  display: flex;
  padding-left: 5px;
}
.Add_on p {
  font-size: 15px;
  line-height: 0;
  padding-top: 26px;
}
.AddOnContainer {
  display: flex;
  /* justify-content: space-between; */
}
.AddOnContainerBox {
  cursor: pointer; /* Change cursor to pointer on hover */
  background: #1d1d1d;
  margin-right: 10px;
  border-radius: 3px;
  height: 43px;
}

.warranty_p {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;

  line-height: 0;
}
.warranty_amount {
  font-size: 11px;
  line-height: 0px;
  font-weight: 400;
}
.warranty_amount_rs {
  font-size: 11px;
  padding-left: 2px;
  line-height: 0px;
}

.SizeContainer {
  display: flex;
}
.SizeContainer_mobile {
  display: flex;
}
/* mobilesizecontainer */
.mobile_size_container {
  display: none;
}
.SizeBox_mobile {
  margin: 3px;
  background: #18578c;
  border: 2px solid #18578c; /* Initial border color */
  cursor: pointer; /* Change cursor to pointer on hover */
  display: flex;
  width: 173px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}

.size_text_mobile {
  margin: 9px;
  font-size: 13px;
  /* padding: 9px; */
  color: white;
  line-height: 0;
  padding: 10px 10px 10px 0px; /* top right bottom left */
}

.SizeBox {
  margin: 3px;
  background: #18578c;
  border: 2px solid #18578c; /* Initial border color */
  cursor: pointer; /* Change cursor to pointer on hover */
  display: flex;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}

.size_text {
  font-size: 13px;
  margin: 9px;
  /* padding: 9px; */
  color: white;
  line-height: 0;
  padding: 10px 10px 10px 0px; /* top right bottom left */
}

/* PinCodeINputField */
.input-container {
  position: relative;
  width: 227px;
  /* margin-right: 10px; */
}

/* Style the input field */
.input-container input[type="text"] {
  width: 100%;
  border: none;

  background: #1d1d1d;
  border-bottom: 1px solid rgb(255, 255, 255);
  color: white;
  outline: none; /* Remove outline on focus */
}

/* Style the button */
.input-container button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 10px;
  background-color: #4caf5000;
  color: #2eb5cd;
  border: none;
  cursor: pointer;
}

/* Change button color on hover */
.input-container button:hover {
  background-color: #45a04900;
}
/* Details */

.DetailsOuterBox {
  width: 100%;
  margin-top: 15px;
  background: #18578c;
  border-radius: 10px;
}
.DetailsOuterBox h3 {
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
}
.inner_flex_content {
  display: flex;
  justify-content: space-between;
}
.inerBox {
  background: black;
  margin: 10px;
  border-radius: 5px;
}
.innerDetails {
  margin: 5px 10px 10px 10px;
}
.innerDetails_head {
  font-size: 13px;
  padding: 5px;
  color: rgba(255, 255, 255, 0.507);
}
.innerDetails_head_content {
  font-size: 15px;
  padding: 5px;
}

/* buttons */
.wtspButton {
  width: 229px;
  font-size: 15px;
  margin-bottom: 12px;
  height: 52px;
  margin-right: 15px;
}

.addtocartButton {
  font-size: 15px;
  border: 2px solid #18588c; /* Fix border color */

  margin-bottom: 5px;
  background: transparent;
  height: 62px;
  margin-right: 9px;

  width: 229px;

  margin-bottom: 12px;
  height: 52px;
}
.buyNowButton {
  width: 223px;
  font-size: 15px;
  margin-bottom: 5px;
  background: #18578c;
  margin-right: 23px;
  height: 62px;
  color: white;
}

/* customChceckBox */

label {
  cursor: pointer;
  color: #666;
  initial-value: tick;
}

input[type="checkbox"] {
  display: none;

  + .label-text:before {
    content: "\f096";
    font-family: "FontAwesome";
    color: #d8e4db6b;
    content: "\f14a";

    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    content: tick;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    width: 1em;
    display: inline-block;
    margin-right: 3px;
    margin-left: 7px;
  }
  &:checked + .label-text:before {
    content: "\f14a";
    color: #17ff02;
    animation: tick 150ms ease-in;
  }
  &:disabled + .label-text {
    color: #aaa;

    &:before {
      content: "\f0c8";
      color: #ffffff;
    }
  }
}

@keyframes tick {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

/* ProductsPoints */
.products_points {
  font-size: 15px;
}

/* fullmediaQuery after 600px */
/* CSS for screens wider than 600px */
@media only screen and (max-width: 600px) {
  /* Add your CSS styles here */
  /* header */
  .header_conatiner {
    display: none;
  }
  /* m0obileheader */
  .mobilehead {
    display: flex;
    width: 100%;
    height: 69px;
    padding-top: 25px;
    justify-content: space-between;
    align-items: center;
  }
  /* .directory */
  .directory {
    padding-left: 2%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 10px;
  }
  /* productDetailsRightSection */
  .productDetsilsHead {
    font-family: "Montserrat", sans-serif;
    padding-top: 15px;
    font-size: 13px;
    font-weight: 300px;
  }

  /* prodcutPrice */
  .produt_Price {
    line-height: 1;
    font-size: 24px;
    font-weight: 600;
    color: #ffffff;
    padding-top: 5px;
  }
  .product_Price_strike {
    font-size: 15px;
    font-weight: 400;
    padding-left: 10px;
    color: #ffffff91;
  }
  .socialMediaIcon {
    display: flex;
    padding-left: 5px;
  }
  /* //addoon */
  .AddOnContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .AddOnContainerBox {
    width: 50%; /* This makes sure two boxes fit in a row by default */
    box-sizing: border-box; /* To include padding and borders in the width */
  }

  .AddOnContainerBox {
    width: 100%; /* On screens smaller than 600px, make each box take full width */
  }
  /* size */
  .SizeContainer {
    display: none;
  }
  .mobile_size_container {
    display: block;
  }
  .size_text_mobile {
    margin: 9px;
    font-size: 13px;
    /* padding: 9px; */
    color: white;
    line-height: 0;
    padding: 8px 8px 8px 0px; /* top right bottom left */
  }

  /* addtocartButton */
  .buyNowButton {
    width: 100%;
    font-size: 15px;
    margin-bottom: 5px;
    background: #18578c;
    margin-right: 10px;
    height: 50px;
    color: white;
  }

  .wtspButton {
    font-size: 15px;
    margin-bottom: 12px;
    height: 45px;
    margin-right: 15px;
  }

  .addtocartButton {
    font-size: 15px;
    border: 2px solid #18588c; /* Fix border color */

    margin-bottom: 5px;
    background: transparent;
    height: 62px;
    margin-right: 9px;

    margin-bottom: 12px;
    height: 45px;
  }
  .products_points {
    font-size: 12px;
  }
}
