.menuu {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: #151515;
}

.menuItemm {
  display: flex;
  align-items: center;
  padding: 10px;
  color: #ffffff;
  border-radius: 4px;
  transition: background 0.3s;
  cursor: pointer;
}

.menuItemm i {
  font-size: 20px;
  margin-right: 10px;
}

.menuItemm p {
  margin: 0;
  font-size: 13px;
  color: rgb(255, 255, 255);
}

.menuItemm:hover {
  background: #a7a3a3;
}

.menuItemm.active {
  background: #151515;
}

.slider {
  position: fixed;
  right: -300px;
  z-index: 1000;
  color: black;
  top: 0;
  width: 300px;
  height: 100%;
  background: #151515;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  transition: right 0.5s ease;
}
.slider.open {
  right: 0;
}

.menuItemm:hover {
  background: #a7a3a3;
}

.menuItemm.active {
  background: #151515;
}
