.pagination {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.pagination .page-link {
  background-color: transparent;
  border: none;
  color: #f5f5f5;
}
.pagination .page-item.active .page-link {
  background-color: transparent;
  border: none;
  color: #000;
}
.pagination .page-item.disabled .page-link {
  background-color: transparent;
  border: none;
  color: #000;
}
.pagination .page-link:focus,
.pagination .page-link:hover {
  background-color: #f5f5f5;
  color: #000000;
}

@media only screen and (max-width: 600px) {
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: -29px;
  }
}
